{% extends "AppConcesionaria/padre.html" %}

{% load static %}


{% block titulo_de_pagina %}
<h1 class="nb-5">Mensajes</h1>
{% endblock %}

{% block contenido_que_cambia %}

{% for m in mensajes %}
<h4> <p style="color: rgb(255, 255, 255)"> De {{ m.apellido }}, {{m.nombre}} <br> Fecha:{{m.fecha}}</p></h4>


    <a class="btn btn-outline-light mt-auto" href="{% url 'verMensaje' m.id %}">Ver más</a>



{% endfor %}
<div>
<a class="btn btn-outline-light mt-auto" href="{% url 'crearMensaje' %}">Crear Mensaje </a>
</div>
{% endblock %}