{% extends "AppConcesionaria/padre.html" %}

{% load static %}


{% block titulo_de_pagina %}
<h1 class="nb-5">Detalles del Mensaje</h1>
{% endblock %}

{% block contenido_que_cambia %}

<section class="page-info-section set-bg" data-setbg="{% static 'img/page-top-bg/1.jpg' %}">
    <div class="pi-content">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 text-white">
                    <h2>Mensaje de {{mensajes.remitente}} para {{mensajes.recibido}}</h2>
                    <p>{{mensajes.contenido}}</p>
                    <a href="{%url 'eliminarMensaje' mensajes.id%}" class="btn btn-danger">Borrar</a>
                    <a href="{% url 'Mensajes' %}" class="btn btn-link">Regresar</a>
                </div>
            </div>
        </div>
    </div>
</section>




{% endblock %}