{% extends "AppConcesionaria/padre.html" %}

{% load static %}


{% block titulo_de_pagina %}
<h1 class="nb-5">Vehiculos</h1>
{% endblock %}

{% block contenido_que_cambia %}

<h2 class="text-center"><p style="color: rgb(252, 249, 249);">Agregar Vehiculo</p></h2>
    <br><br>
    {% if miFormulario.errors %}

    <p style="color: rgb(252, 249, 249);"> Están mal los datos, revisar</p>

    {% endif %}
    <form class="text-center" action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
        
       
        <table style="color: rgb(252, 249, 249);">
            {{ formulario.as_table }}
        </table>
        <br>
        <br>
        <br>
    
        <input class="btn btn-outline-light mt-auto" type="submit" value="Enviar"  href="">
        
        
    </form>
{% endblock %}