{% extends "AppConcesionaria/padre.html" %}

{% load static %}


{% block titulo_de_pagina %}
<h1 class="nb-5">Busqueda de Vehiculo</h1>
{% endblock %}

{% block contenido_que_cambia %}

<h1><p style="color: rgb(252, 249, 249);">Buscamos autos por marca</p></h1>

<form action="{% url 'buscar' %}" method="GET"> {% csrf_token %}

    <p style="color: rgb(252, 249, 249);">Marca: <input type="text" name="marca", id="marca"></p>
     
<input type="submit", value="Buscar">

</form>

<h2>{{ mensaje }}</h2>

{% endblock %}