{% extends "AppConcesionaria/padre.html" %}

{% load static %}


{% block titulo_de_pagina %}
<h1 class="nb-5"><p style="color: rgb(252, 249, 249);">Edicion de Perfil de {{ usuario }}</p></h1>
{% endblock %}

{% block contenido_que_cambia %}
<h1><p style="color: rgb(252, 249, 249);">Formulario de Edicion de Perfil</p></h1>
<h1>{{ mensaje }}</h1>
<form action="{% url 'editarPerfil' %}" method="POST"> {% csrf_token %}

    {{ form.as_p}}
    <input class="btn btn-outline-light mt-auto" type="submit" value="Guardar Cambios"  href="">

</form>

{% endblock %}