{% extends "AppConcesionaria/padre.html" %}

{% load static %}


{% block titulo_de_pagina %}
<h1 class="nb-5"><p style="color: rgb(252, 249, 249);">Nuestros Vehiculos</p></h1>
{% endblock %}

{% block contenido_que_cambia %}

{% for v in vehiculos %}
<h2>
    <p style="color: white">
        Tipo: {{v.tipo}} <br> Marca: {{ v.marca }} <br> Color: {{v.color}} <br> Kilometros:
        {{v.kilometros}} <br> </p>

</h2>
<div>
    {% if v.imagen %}
    <img class="card-img-top" src="{{v.imagen.url}}" alt="..."/>
    {% endif %}
</div>
<a class="btn btn-outline-light mt-auto" href="{% url 'verMas' v.id %}">Ver Mas</a>


<p style="color: rgb(255, 255, 255)">----------------------------------------------</p>
{% endfor %}

<a class="btn btn-outline-light mt-auto" href="{% url 'busquedaVehiculo' %}">Buscar Vehiculo</a>
<a class="btn btn-outline-light mt-auto" href="{% url 'vehiculosFormulario' %}">Agregar Vehiculo</a>

{% endblock %}