{% extends "AppConcesionaria/padre.html" %}

{% load static %}


{% block titulo_de_pagina %}
<h1 class="nb-5">Sobre Nosotros</h1>
{% endblock %}

{% block contenido_que_cambia %}

<h4 style="color: rgb(175, 174, 174);">Bienvenidos a nuestra web, somos Leonardo y Juan Pablo, dos amigos que nos conocemos desde el jardín de infantes, a los 4 años y desde ese momento nos hemos vuelto inseparables, creamos esta web con el proposito, ademas de proyecto final para el trabajo de CoderHouse, sino tambien para que sea un sitio donde los usuarios tengan la posibilidad de tener un espacio para publicar sus autos con sus distintas características, puedan compartir experiencias y logren intercambiar consultas entre sí, los invitamos a que disfruten de la web.</h4>
<img src="{{ imagen }}" alt="">

{% endblock %}