{% extends "AppConcesionaria/padre.html" %}

{% load static %}


{% block titulo_de_pagina %}
<h1 class="nb-5">Ver más sobre {{vehiculo.tipo}} {{vehiculo.marca }}</h1>
{% endblock %}

{% block contenido_que_cambia %}

<div>
    {% if vehiculo.imagen %}
    <img class="card-img-top" src="{{vehiculo.imagen.url}}" alt="..."/>
    {% endif %}
</div>
<h4>
    <p style="color: white"> Fecha de publicacion: {{vehiculo.fechaDePublicacion}} <br>  
        Tipo: {{vehiculo.tipo}} <br> Marca: {{vehiculo.marca }}
        <br> Color: {{vehiculo.color}} <br> Kilometros: {{vehiculo.kilometros}}
    </p>    
</h4>
{% if request.user.is_authenticated %}
<a class="btn btn-outline-light mt-auto" href="{% url 'editarVehiculo' vehiculo.id %}">Editar</a>
<a class="btn btn-outline-light mt-auto" href="{% url 'eliminarVehiculo' vehiculo.id %}">Eliminar</a>
{% endif %}




{% endblock %}